<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorator="~{layouts/layout}">




<div layout:fragment="content">
    <div class="title_box clearfix">
        <div class="ttBox">
            <h3 class="title">부서관리</h3>
        </div>
        <div class="location">
            <ul class="clearfix">
                <li class="first">
                    <a href="#"><i class="la la-home"></i></a>
                </li>
                <li>
                    <a href="#">설정</a>
                </li>
                <li class="bdln">
                    <strong class="active">부서관리</strong>
                </li>
            </ul>
        </div>
    </div>


    <nav th:replace="layouts/searchBase :: searchBaseFragment"></nav>
    <div class="cardWrap list">
        <div class="cardInner">
            <form class="search_filter" id="searchForm" action="/dept/deptList" method="get">
                <input type="hidden" id="page" name="page" value="">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="formEleWrap">
                            <label class="label_tit" for="deptNm">부서명</label>
                            <div class="inputBox">
                                <input type="text" name="deptNm" id="deptNm" th:value="${searchData.deptNm}"
                                       placeholder="검색할 부서명을 입력해주세요.">
                            </div>
                        </div>
                    </div>

                    <nav th:replace="layouts/dateSearch :: dateSearchFragment"></nav>
                </div>

                <div class="btnWrap">
                    <button class="btn btn-sm bluegrey" type="button" id="resetBtn">초기화</button>
                    <button class="btn btn-sm blue-sub btn_search" type="submit">검색</button>
                </div>
            </form>
        </div>


        <div class="tbHead">
            <div class="clearfix">
                <div class="pull-left">
                    <span class="boardText">총 <strong th:text="${data.totalElements}"></strong>건</span>
                </div>
                <div class="pull-right listContBtn">
                    <a href="/dept/deptForm" class="btn btn-sm whitegrey">
                        <i class="la la-plus"></i>부서등록
                    </a>
                </div>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th class="text-center">부서명</th>
                <th class="text-center">생성일자</th>
            </tr>
            </thead>
            <tbody>


            <tr th:each="item, index : ${data.content}">

                <td class="text-center" th:text="${item.deptNm}"></td>
                <td class="text-center" th:text="${#dates.format(item.reg_date, 'yyyy-MM-dd')}"></td>
            </tr>
            </tbody>

        </table>
    </div>


    <nav th:replace="layouts/mayPaging :: pagingFragment"></nav>


</div>

</html>
