<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="pagingFragment" class="pageNav" aria-label="Page navigation">

    <th:block th:if="${data.totalPages > 0}">
        <ul class="pagination" style="text-align: center;" th:with="start=${T(Math).floor(data.number/10)*10 + 1}, last=(${start + 9 < data.totalPages ? start + 9 : data.totalPages})">

            <li class="page-item">
                <th:block th:if="${!data.first}">
                    <a th:onclick="|javascript:onPage(0)|" class="page-link">
                        <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true" style='line-height: 32px;'></i></span>
                        <span class="sr-only">Previous</span>
                    </a>
                </th:block>


                <th:block th:if="${!data.first}">
                    <a th:onclick="|javascript:onPage('${data.number - 1}')|" class="page-link">
                        <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true" style='line-height: 32px;'></i></span>
                        <span class="sr-only">Previous</span>
                    </a>
                </th:block>

                <th:block th:if="${data.first}">
                    <a aria-label="Previous" class="disabled" style="cursor: not-allowed; color: #888; background-color: #fff; border: 1px solid #c5c7c8;">
                        <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true" style='line-height: 32px;'></i></span>
                        <span class="sr-only">Previous</span>
                    </a>
                </th:block>

            </li>

            <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == data.number + 1} ? 'active'">
                <a th:text="${page}" th:onclick="|javascript:onPage('${page-1}')|"></a>
            </li>

            <li class="page-item">
                <th:block th:if="${!data.last}">
                    <a th:onclick="|javascript:onPage('${data.number + 1}')|" aria-label="Next">
                        <span aria-hidden="true"><i class="fa fa-angle-right" aria-hidden="true" style='line-height: 32px;'></i></span>
                        <span class="sr-only">Next</span>
                    </a>
                </th:block>
                <th:block th:if="${data.last}">
                    <a aria-label="Next" class="disabled" style="cursor: not-allowed; color: #888; background-color: #fff; border: 1px solid #c5c7c8;">
                        <span aria-hidden="true"><i class="fa fa-angle-right" aria-hidden="true" style='line-height: 32px;'></i></span>
                        <span class="sr-only">Next</span>
                    </a>
                </th:block>

                <th:block th:if="${!data.last}">
                    <a th:onclick="|javascript:onPage('${data.totalPages - 1}')|" aria-label="Next">
                        <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true" style='line-height: 32px;'></i></span>
                        <span class="sr-only">Next</span>
                    </a>
                </th:block>

            </li>
        </ul>
    </th:block>

</nav>
</html>

<!--
<tr th:each="item, index : ${data.content}">

-->