<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">

<body>
<th:block layout:fragment="header" th:include="@{fragments/header}"/>

<div layout:fragment="content" class="content">
    <h5>C</h5>


    <table border="1">
        <tr>
            <th>TEXT2sㄴㄴㄴs</th>
        </tr>
        <th:block th:each="rl : ${T1}">
            <tr>
                <td th:text="${ rl.getCom_title() }"></td>
            </tr>
        </th:block>
    </table>


</div>

<th:block layout:fragment="footer" th:include="@{fragments/footer}"/>

<script>
    // model값 바로 가져오기
    //alert("[[${test}]]");

</script>
</body>
</html>
