<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorator="~{layouts/layout}">


<div layout:fragment="content">
    <div class="title_box clearfix">
        <div class="ttBox">
            <h3 class="title">민원종류 관리</h3>
        </div>
        <div class="location">
            <ul class="clearfix">
                <li class="first">
                    <a href="/complain/complainList"><i class="la la-home"></i></a>
                </li>
                <li>
                    <a href="/manage/member">설정</a>
                </li>
                <li class="bdln">
                    <strong class="active">민원종류 관리</strong>
                </li>
            </ul>
        </div>
    </div>


    <nav th:replace="layouts/searchBase :: searchBaseFragment"></nav>
    <div class="cardWrap list">
        <div class="cardInner">
            <form class="search_filter" id="searchForm" action="/common/codeList" method="get">
                <input type="hidden" id="page" name="page" value="">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="formEleWrap">
                            <label class="label_tit" for="searchName">민원종류명</label>
                            <div class="inputBox">
                                <input type="text" name="searchName" id="searchName" th:value="${searchData.searchName}"
                                       placeholder="민원종류명을 입력해주세요.">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="formEleWrap">
                            <label class="label_tit" for="searchUserName">담당자</label>
                            <div class="inputBox">
                                <input type="text" name="searchUserName" id="searchUserName" th:value="${searchData.searchUserName}"
                                       placeholder="담당자를 입력해주세요.">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="formEleWrap">
                            <label class="label_tit" for="com_state">사용유무</label>
                            <div class="selectBox">
                                <select id="com_state" name = 'useYn'>
                                    <option value="">전체</option>
                                    <option th:each="colorOpt : ${T(com.complain.igex.model.cenum.UseYn).values()}"
                                            th:value="${colorOpt}" th:text="${colorOpt.value}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <nav th:replace="layouts/dateSearch :: dateSearchFragment"></nav>
                </div>

                <div class="btnWrap">
                    <button class="btn btn-sm bluegrey" type="button" id="resetBtn">초기화</button>
                    <button class="btn btn-sm blue-sub btn_search" type="submit">검색</button>
                </div>
            </form>
        </div>

        <div class="tbHead">
            <div class="clearfix">
                <div class="pull-left">
                    <span class="boardText">총 <strong th:text="${data.totalElements}"></strong>건</span>
                </div>
                <div class="pull-right listContBtn">
                    <a href="/common/codeForm" class="btn btn-sm whitegrey">
                        <i class="la la-plus"></i>민원종류 등록
                    </a>
                </div>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th class="text-center">민원종류</th>
                <th class="text-center">담당자</th>
                <th class="text-center">시용유무</th>
                <th class="text-center">등록일자</th>
                <th class="text-center" colspan="2">관리</th>
            </tr>
            </thead>
            <tbody>


            <tr th:each="item : ${data.content}">

                <td class="text-center" th:text="${item.codeName}"></td>
                <td class="text-center" th:text="${item.userName}"></td>
                <td class="text-center" th:text="${item.useYn.value}"></td>
                <td class="text-center" th:text="${#dates.format(item.reg_date, 'yyyy-MM-dd')}"></td>

<!--                <td class="text-center">-->
<!--                    <div class="tdBtnWrap">-->
<!--                        <a class="btn btn-xs btn-block">상세</a>-->
<!--                    </div>-->
<!--                </td>-->
                <td class="text-center">

                    <div class="tdBtnWrap">
                        <a class="btn btn-xs lblue" style="background-color: #0e59c5; color: white; opacity: 0.7; " th:attr="onclick=|stateUseYn('${item.id}', 'USE')|">사용</a>
                        <a class="btn btn-xs lred" style="background-color: red; color: white; opacity: 0.7;" th:attr="onclick=|stateUseYn('${item.id}', 'NONE_USE')|">미사용</a>
                    </div>

<!--                    <div class="tdBtnWrap">-->
<!--                        -->
<!--                    </div>-->



<!--                    <select name="color">-->
<!--                        <option th:each="colorOpt : ${T(com.complain.igex.model.cenum.UseYn).values()}"-->
<!--                                th:value="${colorOpt}" th:text="${colorOpt.value}"></option>-->
<!--                    </select>-->

                </td>
            </tr>
            <tr th:if="${data.content.size() == 0}">
                <td class="text-center" colspan="5">조회 결과가 없습니다.</td>
            </tr>

            </tbody>

        </table>
    </div>


    <nav th:replace="layouts/mayPaging :: pagingFragment"></nav>


</div>

</html>

<script>
    function stateUseYn(id, state)
    {
        location.href = "/common/codeState?id="+id+"&state="+state;
    }

</script>