<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body class="login">
    <form class="form-signin" action="/authenticate" method="POST">
        <h1><span></span></h1>
        <div class="wrap col-lg-12">
            <div class="form-group">
                <input type="text" th:name="id_user" class="form-control" placeholder="아이디를 입력해주세요." required="" th:value="admin">
                <input type="password" th:name="password" class="form-control" placeholder="비밀번호를 입력해주세요" required="" th:value="admin">
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div class="btnbox">
                <button type="submit" class="btn btn-primary btn-lg btn-block">로그인</button>
            </div>
        </div>
    </form>
    <footer>
        2021 Korea rights reserved.
    </footer>
</body>
</html>